/* Képhren SIMONIS
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Képhren SIMONIS
 */

$black: #1D2F33;
$grey: #5C5C52;
$white: #E5E8ED;
$brown: #8F663A;
$lightBrown: #BB9568;
$darkBrown: #58391A;
