.footer{
	margin-top: 2em;
	background-color: $black;
	padding: 1em 2.5%;
   	.cpr{
	   	font-size: 0.8em;
	   	color: $white;
	   	text-align: center;
	   	&__link{
	   		transition: all 0.2s ease-in-out;
	   		color: $lightBrown;
	   		text-decoration: none;
	   	}
	   	&__link:hover,
	   	&__link:focus{
	   		color: $white;
	   	}
   	} 
}